@model AdminDashboardViewModel

<h1>@Model.WelcomeMessage</h1>

@if (Model.Users != null && Model.Users.Any())
{
    <h2>User List</h2>
    <ul>
        @foreach (var user in Model.Users)
        {
            <li>@user.UserName</li>
        }
    </ul>
}

<div class="form-group">
    <a asp-action="CreateRoom" asp-controller="Admin">Create New Room</a>
</div>

@if (Model.Rooms != null && Model.Rooms.Any())
{
    <h3>Existing Rooms</h3>

    <ul>
        @foreach (var room in Model.Rooms)
        {
            <li>
                Room Number: @room.RoomNumber <br />
                Type: @room.Type <br />
                Capacity: @room.Capacity <br />
                Price: @room.Price <br />
                Available: @room.Available
                @if (room.Pictures != null && room.Pictures.Any())
                {
                    <div>
                        Pictures:
                        <ul>
                            @foreach (var picture in room.Pictures)
                            {
                                <li>@picture</li>
                            }
                        </ul>
                    </div>
                }


            </li>
            <hr />
        }
    </ul>
}
