@model IEnumerable<HotelReservation.Models.Reservations.Reservation>

<h2>All Reservations</h2>

<table class="table">
    <thead>
        <tr>
            <th>Reservation ID</th>
            <th>Room ID</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>User</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Card Name</th>
            <th>Card Number</th>
            <th>Expiry Date</th>
            <th>CVV</th>
            <th>Special Requests</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.Id</td>
                <td>@reservation.RoomId</td>
                <td>@reservation.StartDate.ToShortDateString()</td>
                <td>@reservation.EndDate.ToShortDateString()</td>
@*                 <td>@reservation.Guest.Name @reservation.Guest.LastName</td>
                <td>@reservation.Guest.Email</td>
                <td>@reservation.Guest.Phone</td>
                <td>@reservation.BillingInfo.CardName</td>
                <td>@reservation.BillingInfo.CardNumber</td>
                <td>@reservation.BillingInfo.ExpiryDate.ToShortDateString()</td>
                <td>@reservation.BillingInfo.CVV</td> *@
                <td>@reservation.SpecialRequests</td>
            </tr>
        }
    </tbody>
</table>
